body {
    font-family: "Arial";
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial;
    font-weight: bold;
}

p {
    color: #8f8f8f;
}

/* Headings */

.big-heading {
    font-family: "Arial";
    font-size: 4rem;
    line-height: 1.5;
    font-weight: bold;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

/* Containers */

.container-fluid {
    padding: 7% 15%; /*padding h középen legyen a content 7% fent lent és 15% bal jobb oldal*/
}

/* Sections */

.colored-section {
    background-color: #ff4c68;
    color: #fff;
}

.white-section {
    background-color: #fff;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: Arial;
}

/* Title Section */

#title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}

.title-image {
    transform: rotate(25deg);
    width: 60%;
    position: absolute;
    right: 30%;
}

/* Download Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Features */

#features {
    position: relative;
    z-index: 1;
}

.feature-title {
    font-size: 1.5rem;
}

.feature-box {
    padding: 5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

/*Testimonial Section*/

#testimonials {
    background-color: #ef8172;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 30px;
}

#pricing {
    padding: 100px;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-column {
    padding: 3% 2%;
}

/* Footer section */

.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}
.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.social-icon {
    margin: 20px 10px;
}

@media (max-width: 1028px) {
    /*ha a megjeleníthető tartalom(viewport) kisebb mint 1028 akkor */
    #title {
        text-align: center;
    }
    .title-image {
        position: static;
        transform: rotate(0);
    }
}
